<div class="card flex justify-center">
  <p-button label="Check" />
  <p-button label="Submit" />
  <p-button icon="pi pi-home" aria-label="Save" />
  <p-button label="Link" [link]="true" />
  <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
  <p-toggleswitch />
</div>

<div class="card flex justify-center">
  <div class="flex flex-wrap gap-4">
      <div class="flex items-center">
          <p-radiobutton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1" />
          <label for="ingredient1" class="ml-2">Cheese</label>
      </div>

      <div class="flex items-center">
          <p-radiobutton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2" />
          <label for="ingredient2" class="ml-2">Mushroom</label>
      </div>

      <div class="flex items-center">
          <p-radiobutton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3" />
          <label for="ingredient3" class="ml-2">Pepper</label>
      </div>

      <div class="flex items-center">
          <p-radiobutton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4" />
          <label for="ingredient4" class="ml-2">Onion</label>
      </div>
  </div>
</div>
